* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  :root {
    --hue: 194;
    --bg-color: hsl(var(--hue), 0%, 100%);
    --text-color: hsl(var(--hue), 6%, 21%);
    --primary-color: hsl(var(--hue), 100%, 63%);
    --bg-cards: hsl(var(--hue), 6%, 21%, 1);
    --bg-cards-select: hsl(var(--hue), 97%, 31%, 1);
    --button-secondary: hsl(var(--hue), 40%, 98%);
  
    font-size: clamp(40%, 1%+2vw, 62.5%);
    font-family: "Roboto", sans-serif;
  }
  
  body {
    display: grid;
    justify-items: center;
    height: 100vh;
  }
  
  #app {
    display: flex;
    justify-items: center;
    align-items: center;
    gap: 10%;
  }
  .flex {
    display: flex;
  }
  #timer {
    font-size: 9.6rem;
    color: var(--text-color);
  }
  .timer {
  }
  .minutes {
  }
  
  .seconds {
  }
  #controls {
    gap: 3rem;
  }
  button {
    background-color: transparent;
    border: 0;
  
    font-size: 3.8rem;
    color: var(--primary-color);
  }
  button .ph {
  }
  .sr-only {
    display: none;
  }
  #environmentCard {
    flex-wrap: wrap;
    gap: 2.2rem;
    width: 29.8rem;
  }
  .envCard {
    gap: 10rem;
  }
  
  /*  controls */
  .secondary {
    color: var(--text-color);
  }
  
  html.running .ph-pause-circle {
    color: var(--primary-color);
  }
  .running .ph-play-circle,
  html:not(.running) .ph-pause-circle {
    display: none;
  }
  
  /* Cards */
  .cardBg {
    fill: #02799d;
  }
  .cardText {
    fill: #fff;
  }